#navBox{
    position: relative;
    width: 440px;
}
.arrow-nav {
    list-style: none;
    display: inline-block;
    font-size: 12px;
}
.arrow-nav li {
    float: left;
    color: #666;
    display: inline-block;
    background: #fff;
    text-decoration: none;
    width: 85px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    margin-right: 20px;
    position: relative;
    box-shadow: 0 1px #e5e5e5 inset,
                0 -1px  #e5e5e5 inset;
    z-index: 1;
}
.arrow-nav li:first-child{
    box-shadow: 0 1px #e5e5e5 inset,
                0 -1px  #e5e5e5 inset,
                1px 0 #e5e5e5 inset;
}
.arrow-nav li:last-child{
    box-shadow: 0 1px #e5e5e5 inset,
                0 -1px  #e5e5e5 inset,
                -1px 0 #e5e5e5 inset;
    margin-right: 0;
}
.arrow-nav li:first-child div:first-child, .arrow-nav li:last-child div:last-child, .arrow-nav li:first-child::before, .arrow-nav li:last-child::after{
    display: none;
}
.arrow-nav li div{
    width: 0;
    height: 0;
    display: inline-block;
    position: absolute;
    top: 0;
    border-width: 12.5px 10px;
    border-style: solid;
    border-color: #e5e5e5;
    z-index: -99;
}
.arrow-nav li div:first-child{
    left: -10px;
    border-left-color: transparent;
}
.arrow-nav li div:last-child{
    right: -20px;
    border-color: transparent;
    border-left-color: #e5e5e5;
}
.arrow-nav li::before, .arrow-nav li::after{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 1px;
    border-width: 11.5px 9px;
    border-style: solid;
    border-color: #fff;
    z-index: -1;
}
.arrow-nav li::before{
    left: -8px;
    border-left-color: transparent;
}
.arrow-nav li::after{
    right: -18px;
    border-color: transparent;
    border-left-color: #fff;
}
.current{
    box-shadow: none!important;
    color: #F6F6F6!important;
    background-color: #108EE9!important;
}
.current div:first-child {
    border-color: #108EE9;
    border-left-color: transparent;
}
.current div:last-child {
    border-left-color: #108EE9!important;
}
.current::before, .current::after{
    display: none;
}
.shadowed{
    background-color: #F6F6F6!important;
}
.shadowed::before{
    border-color: #F6F6F6;
    border-left-color: transparent;
}
.shadowed::after{
    border-left-color: #F6F6F6!important;
}
.break-off{
    position: absolute;
    right: 0px;
    width: 93px;
    height: 25px;
    color: #D0021B;
    font-size: 12px;
    line-height: 25px;
    text-align: center;
    border: 1px solid #D0021B;
}